/* 
	RED: #A53225;
	PURPLE: #503867;
*/


body {
	font-family: 'Mukta Mahee', sans-serif;
	margin: 0;
	padding: 0;
	background: url(../images/circles-light.png);
}

a {
	color: #A53225;
	text-decoration: none;
	transition: opacity 0.2s ease 0s;
}

a:hover {
	opacity: 0.7;
}

.messages {
	max-width: 400px;
	min-height: 75px;
	display: block;
	padding: 1rem;
	margin: 0.5rem auto;
}

.messages ul {
	list-style: none;
}

.success {
	color: green;
}

.error {
	color: red;
}

.container .desc-bg {
	background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0)), url(../images/red-blue-bricks-pattern.jpg);
	padding-left: 3rem;
	
}

.container .desc-bg h1, .container .desc-bg p {
	color: white;
	margin: 0.5rem;
}

.container .desc-bg h1 {
	font-size: 4rem;
}

.container .desc-bg p {
	font-size: 1.25rem;
	width: 50%;
}

#pagewrap {
	max-width: 75rem;
	width: 100%;
	display: block;
	margin: 0 auto;
}

.container {
	display: table;
}

.col-3-5, .col-2-5 {
	display: table-cell;
	height: 400px;
	vertical-align: middle;
} 

.col-3-5 {
	width: calc((100% / 5) * 3);
}

.col-2-5 {
	width: calc((100% / 5) * 2);
}

form {
	padding: 4rem;
	margin: 1rem;
	border: 1px solid black;
	background-color: #F2F3F5;
}

form p {
	font-size: 1.5rem;
	text-decoration: underline;
	margin-top: 0;
}

form label, form input {
	font-size: 1.25rem;
	display: inline-block;
}

form label {
	width: 100px;
}


p.register {
	text-align: right;
	margin: 1rem;
}

.button {
	background-color: #A53225;
	border: none;
	border-radius: none;
	color: #FFFFFF;
	padding: 5px 10px;
	display: table;
	margin: 1rem 0 1rem auto;
}

/*==== members page ====*/

#header {
	border-bottom: 6px solid #A53225;
	background-color: #503867;
	padding: 1rem 0;
}

#header > div {
	float: right;
	padding-right: 1.5rem;
}

#header h1 {
	font-size: 3rem;
	padding-left: 1.5rem;
}

#header h1 span.red {
	color: #A5362D;
}

#header h1, #header > div p {
	display: inline-block;
	margin: 1rem 0;
	line-height: 2rem;
	color: white;
}

#header > div p {
	margin-right: 2rem;
	font-size: 1.25rem;
}

#header > div a {
	color: white;
}

.post_message {
	padding-top: 2rem;
}

form#new_message, form#new_comment {
	background: none;
	border: none;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

form#new_comment {
	max-width: 100%;
}

form#new_message p, form#new_comment p{
	text-decoration: none;
	margin: 0;
}

form#new_message textarea, form#new_comment textarea {
	width: 100%;
	margin: 0 1rem;
	height: 150px;
	resize: none;
}

form#new_comment textarea {
	height: 90px;
}

.message {
	margin-top: 1rem;
	border-bottom: 1px solid black;
}

.message:last-child {
	border: none;
}

.message .title {
	font-size: 1.5rem;
}

.message .content {
	margin-left: 1.5rem;
}

.message .comments {
	margin-left: 3rem;
}

.message .title a {
	font-size: 1rem;
	margin-left: 2rem;
}












